<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>Editar Empleado
            <div *ngIf="loading" class="spinner-border text-dark float-end" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </h3>
          <span *ngIf="submitted && editarEmpleadoBD.invalid" class="badge text-bg-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
          <form class="mt-4" [formGroup]="editarEmpleadoBD" (ngSubmit)="editarEmpleado()">
           <div class="row">
              <div class="col">
                <input type="text" class="form-control form-control-lg" formControlName="nombre" placeholder="Nombre">
              </div>
              <div class="col">
                <input type="text" class="form-control form-control-lg" formControlName="apellido" placeholder="Apellido">
              </div>
           </div>
           <input type="text" class="form-control form-control-lg mt-3" formControlName="documento" placeholder="Documento">
           <input type="text" class="form-control form-control-lg mt-3" formControlName="salario" placeholder="Salario">
           <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
            <button routerLink="/list-empleados" type="button" class="btn btn-secondary btn-lg">Volver</button>
            <button type="submit" class="btn btn-dark btn-lg">Editar</button>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

